services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver_container
    restart: always
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "FiloDavid!" # Parolă complexă obligatorie
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: dotnet_backend
    ports:
      - "5000:8080"
    depends_on:
      - db
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=ProiectDb;User Id=sa;Password=FiloDavid!;TrustServerCertificate=True;

  # 3. Frontend React
  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: react_frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  sql_data: