.login-page {
  width: 100%;
  /* height: 100%;
  min-height: 80vh;  */
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


.login-card {
  background-color: hsl(0 0% 8%);
  padding: 40px;
  width: 100%;
  max-width: 400px; 
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #2b2b2b;
}

.login-card h2 {
  margin-top: 0;
  color: #eee;
  margin-bottom: 5px;
}

.login-subtitle {
  color: #aaa;
  font-size: 0.9rem;
  margin-bottom: 25px;
}


.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.9rem;
  color: #eee;
  margin-bottom: 8px;
  font-weight: 500;
}

.input-container{
    position: relative;
    width: 100%;
}

.form-group input {
  padding: 12px;
  padding-right: 40px;
  width: 100%;
  height: 3rem;
  border: 1px solid #ccc;
  background-color: #2b2b2b;
  color: #eee;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.form-group img{
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%); 
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group svg{
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%); 
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.form-group input:focus {
  border-color: #007bff;
  outline: none;
  transform: scale(1.01);
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #0056b3;
}


.login-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}

.login-footer a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.login-footer a:hover {
  text-decoration: underline;
}

#message-error{
    color: red;
    font: bold;
    font-size: 15px;
}

footer {
  position: absolute;
  top: 95vh;
  width: 100%;
  height: 5vh;
  background-color: #111;
  color: white;
  display: flex;
  align-self: end;
  align-items: center;
  justify-content: center;
}