.search-drawer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 397px; /* Width of drawer + collapsed nav */
    background-color: #000;
    border-right: 1px solid #262626;
    z-index: 90; /* Behind navbar (100) but above content */
    
    /* Animation logic */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding-left: 72px; /* Space for the collapsed navbar */
    box-sizing: border-box;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.search-drawer.open {
    transform: translateX(0);
    box-shadow: 4px 0 24px rgba(0,0,0,0.5);
}

/* Search Drawer Internals */
.drawer-header { 
    padding: 24px;
    border-bottom: 1px solid #262626; 
}

.drawer-header h2 { margin: 0 0 24px 0; color: white; font-size: 24px; }

.search-input-container {
    background: #262626;
    border-radius: 8px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
}

.search-input-container input {
    background: transparent; border: none; outline: none; color: white; width: 100%; font-size: 16px;
}


.drawer-content{
    flex: 1;
    
}

.search-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0.5rem;
}

.search-list .search-item{
    width: 100%;
    min-height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    text-decoration: none   ;
}

.search-item img{
    width: 4rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.search-item .user-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.search-item .user-info > *{
    color: white;
    font-size: 15px;
}