body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.app-nav {
    width: 15vw;        
    height: 100vh;   
    flex-shrink: 0;    
    
    background-color: #333; 
    color: white;
    display: flex;
    flex-direction: column; 
    padding: 20px;
    box-sizing: border-box;
    
    position: sticky; 
    top: 0; 
}

.app-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin-top: 20px; 
    height: 100%;    
}

.app-nav ul > li{
    min-height: 5vh;
}

.app-nav span{
    color: white;
    font-size: 2rem;
    /* margin-bottom: 20px; */
}

.app-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.app-nav .profile-link{
    margin-top: auto;
    height: 2vh;
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    align-items: center;
}

.app-nav a .profile-link-image{
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    object-fit: cover;
    display: block; 
    align-self: flex-end; 
}

.app-nav .profile-link span{
    height: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.app-main {
    flex: 1;      
    min-width: 0;    
    
    min-height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
}